body{
  background-color: #008CB8;
  font-family: "Open Sans";
}

#login_area{
  position: absolute;
  width: 900px;
  height: 400px;
  top:120px;
  left: 50%;
  background-color: white;
  margin: 0 0 0 -450;
}

#left_login{
  position: absolute;
  width: 450px;
  height: 400px;
}

#logo{
  position: absolute;
  width: 240px;
  height: 80px;
  top: 50%;
  left: 50%;
  margin: -40px 0 0 -120;
}


#right_login{
  position: absolute;
  width: 450px;
  height: 400px;
  top: 0px;
  right:0px;
}

#postmark{
  position: absolute;
  width: 195px;
  height: 75px;
  top: 23px;
  right: 0px;
}

#signin_area{
  position: absolute;
  width: 336px;
  height: 156px;
  top: 160px;
  left: 50%
  margin: 0 0 0 -168px;
}

#vertical_bar{
  position: absolute;
  width: 2px;
  height: 200px;
  top:25%;
  left:50%;
  background-color: #D3D3D3;
}
#get_going{
  font-size: 22px;
  font-color: #000000;
}

#login_form{
  position: absolute;
  left: 66px;
  font-size: 13px;
}

input{
  width: 250px;
  border-bottom-color: #EEEEEE;
}
button{
  font-size: 13px;
  color: #0084B2;
  font-weight: bold;
  border: #0084B2 1px solid;
  background-color: white;
}

a:link{
  font-size: 13px;
  color: #0084B2;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active{
  color: blue;
}

a:visited{
  font-size: 13px;
  color: #0084B2;
  text-decoration: none;
}
