html {

  font-family: 'Open Sans';

}

#background {
  background-color: 008CB8;
  height: 100%;

  }

#foreground {
  {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    background-color: white;
}

}
#left {
    position: absolute;
    top: 127px;
    left: 185px;
    height: 300px;
    width: 400px;
    background-color: white;
    border-right: thick solid #CDCDCF;
}

#telegram {
  position: absolute;
  top: 120px;
  left: 50px;
  width: 130px;

}
#right {
  position: absolute;
  top: 127px;
  left: 290px;
  height: 300px;
  width: 400px;
  background-color: white;
  margin-left: 300px;

}

#right a:link{
  font-size: 13px;
  color: #0084B2;
  text-decoration: none;
}

#right a:hover {
  text-decoration: underline;
}

#right a:active{
  color: blue;
}

#right a:visited{
  font-size: 13px;
  color: #0084B2;
  text-decoration: none;
}

#right h2{
  font-size: 22px;
  color: #000000;
}

#right p{

  font-size: 13px;
  color: #000000;
}

#right input{
  border-bottom-color: #EEEEEE;

}

#right button{
  font-size: 13px;
  font-color: #0084B2;
  background-color: white;
  weight: bold;
  border: #0084B2 1px solid;
}

#postmark{
  float: right;
}
